In [6]:
import pandas as pd
import numpy as np
import numpy as np

In [3]:
### Varible Description
pwd = '/Users/RUIest/Desktop/big_data_project/loan_var_explain.csv'
var = pd.read_csv(pwd)

In [4]:
var_dict = var.set_index('LoanStatNew').T.to_dict('list')

In [5]:
pwd = '/Users/RUIest/Desktop/big_data_project/accepted_2007_to_2016.csv'
df = pd.read_csv(pwd)
df1 = pd.read_csv('LoanStats_securev1_2017Q1.csv')
df2 = pd.read_csv('LoanStats_securev1_2017Q2.csv')
df3 = pd.read_csv('LoanStats_securev1_2017Q3.csv')

df_17 = pd.concat([df1,df2])

/Users/RUIest/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (18,46,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/RUIest/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,117,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/RUIest/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/RUIest/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,128,129,130,133,134,135,138,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
drop_list = []
keep_list = []
for i in df_17.columns:
    if i not in df.columns:
        drop_list.append(i)
    else:
        keep_list.append(i)

df_17 = df_17.drop(drop_list,axis=1)

df_06_17Q2 = pd.concat([df,df_17])

In [8]:
df = df_06_17Q2

In [9]:
df = df.loc[:, df.isnull().mean() < .1]

In [10]:
# Policy code would cause biase; Drop it
df = df.drop('policy_code', axis=1)

In [11]:
pd.set_option('display.max_columns', None)
df.head(5)

,acc_now_delinq,acc_open_past_24mths,addr_state,annual_inc,application_type,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,delinq_2yrs,delinq_amnt,dti,earliest_cr_line,emp_length,emp_title,funded_amnt,funded_amnt_inv,grade,home_ownership,id,initial_list_status,inq_last_6mths,installment,int_rate,issue_d,last_credit_pull_d,last_pymnt_amnt,last_pymnt_d,loan_amnt,loan_status,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,open_acc,out_prncp,out_prncp_inv,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec,pub_rec_bankruptcies,purpose,pymnt_plan,recoveries,revol_bal,revol_util,sub_grade,tax_liens,term,title,tot_coll_amt,tot_cur_bal,tot_hi_cred_lim,total_acc,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,verification_status,zip_code
0,0.0,NaN,AZ,24000.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,27.65,Jan-1985,10+ years,NaN,5000.0,4975.0,B,RENT,1077501,f,1.0,162.87,10.65,Dec-2011,Jan-2017,171.62,Jan-2015,5000.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,NaN,NaN,0.0,0.0,credit_card,n,0.0,13648.0,83.7,B2,0.0,36 months,Computer,NaN,NaN,NaN,9.0,NaN,NaN,NaN,5863.155187,5833.84,863.16,0.00,5000.00,NaN,Verified,860xx
1,0.0,NaN,GA,30000.0,INDIVIDUAL,NaN,NaN,NaN,0.0,1.11,0.0,0.0,0.0,1.00,Apr-1999,< 1 year,Ryder,2500.0,2500.0,C,RENT,1077430,f,5.0,59.83,15.27,Dec-2011,Oct-2016,119.66,Apr-2013,2500.0,Charged Off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,NaN,NaN,0.0,0.0,car,n,122.9,1687.0,9.4,C4,0.0,60 months,bike,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1014.530000,1014.53,435.17,0.00,456.46,NaN,Source Verified,309xx
2,0.0,NaN,IL,12252.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,8.72,Nov-2001,10+ years,NaN,2400.0,2400.0,C,RENT,1077175,f,2.0,84.33,15.96,Dec-2011,Jan-2017,649.91,Jun-2014,2400.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,NaN,NaN,0.0,0.0,small_business,n,0.0,2956.0,98.5,C5,0.0,36 months,real estate business,NaN,NaN,NaN,10.0,NaN,NaN,NaN,3005.666844,3005.67,605.67,0.00,2400.00,NaN,Not Verified,606xx
3,0.0,NaN,CA,49200.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,20.00,Feb-1996,10+ years,AIR RESOURCES BOARD,10000.0,10000.0,C,RENT,1076863,f,1.0,339.31,13.49,Dec-2011,Apr-2016,357.48,Jan-2015,10000.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0,0.0,NaN,NaN,0.0,0.0,other,n,0.0,5598.0,21,C1,0.0,36 months,personel,NaN,NaN,NaN,37.0,NaN,NaN,NaN,12231.890000,12231.89,2214.92,16.97,10000.00,NaN,Source Verified,917xx
4,0.0,NaN,OR,80000.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,17.94,Jan-1996,1 year,University Medical Group,3000.0,3000.0,B,RENT,1075358,f,0.0,67.79,12.69,Dec-2011,Jan-2017,67.30,Jan-2017,3000.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,0.0,0.0,NaN,NaN,0.0,0.0,other,n,0.0,27783.0,53.9,B5,0.0,60 months,Personal,NaN,NaN,NaN,38.0,NaN,NaN,NaN,4066.908161,4066.91,1066.91,0.00,3000.00,NaN,Source Verified,972xx

In [12]:
# Create a dictionary including all variables description in accepted dataframe
df_var_dict = {}
for i in df.columns:
    df_var_dict[i] = var_dict[i]

In [13]:
# Create a dictionary transform emp_length to float
emp_list = ['n/a','< 1 year','1 year','2 years','3 years','4 years','5 years','6 years','7 years','8 years','9 years','10+ years']
num_list = [0,0.5,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0]
emp_map = {}
for i in range(len(emp_list)):
    emp_map[emp_list[i]] = num_list[i]

In [14]:
df['emp_length'] = df['emp_length'].map(emp_map)

In [15]:
grade_list = ['A','B','C','D','E','F','G']
num_list = [1.0,2.0,3.0,4.0,5.0,6.0,7.0]
grade_map = {}
for i in range(len(grade_list)):
    grade_map[grade_list[i]] = num_list[i]

In [16]:
df['grade'] = df['grade'].map(grade_map)

In [50]:
df.groupby('term').size()

term
 36 months    392034
 60 months    122239
dtype: int64

In [51]:
df['term'] = df['term'].apply(lambda x: int(x.replace('months','')))

In [35]:
# Keep loan status == fully paid or charged off
df = df[(df.loan_status == 'Fully Paid') | (df.loan_status == 'Charged Off')]

In [36]:
df.groupby('loan_status').size()

loan_status
Charged Off     98501
Fully Paid     415772
dtype: int64

In [37]:
df.groupby('home_ownership').size()

home_ownership
ANY             76
MORTGAGE    257961
NONE            43
OTHER          141
OWN          49773
RENT        206279
dtype: int64

In [38]:
df.groupby('verification_status').size()

verification_status
Not Verified       162936
Source Verified    171730
Verified           179607
dtype: int64

In [39]:
# Verification Status Map
v_s_map = {'Not Verified':0.0,'Source Verified':1.0,'Verified':1.0 }
df['verification_status'] = df['verification_status'].map(v_s_map)

/Users/RUIest/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [40]:
df.head(5)

,acc_now_delinq,acc_open_past_24mths,addr_state,annual_inc,application_type,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,delinq_2yrs,delinq_amnt,dti,earliest_cr_line,emp_length,emp_title,funded_amnt,funded_amnt_inv,grade,home_ownership,id,initial_list_status,inq_last_6mths,installment,int_rate,issue_d,last_credit_pull_d,last_pymnt_amnt,last_pymnt_d,loan_amnt,loan_status,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,open_acc,out_prncp,out_prncp_inv,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec,pub_rec_bankruptcies,purpose,pymnt_plan,recoveries,revol_bal,revol_util,sub_grade,tax_liens,term,title,tot_coll_amt,tot_cur_bal,tot_hi_cred_lim,total_acc,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,verification_status,zip_code
0,0.0,NaN,AZ,24000.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,27.65,Jan-1985,10.0,NaN,5000.0,4975.0,2.0,RENT,1077501,f,1.0,162.87,10.65,Dec-2011,Jan-2017,171.62,Jan-2015,5000.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,NaN,NaN,0.0,0.0,credit_card,n,0.0,13648.0,83.7,B2,0.0,36 months,Computer,NaN,NaN,NaN,9.0,NaN,NaN,NaN,5863.155187,5833.84,863.16,0.00,5000.00,NaN,1.0,860xx
1,0.0,NaN,GA,30000.0,INDIVIDUAL,NaN,NaN,NaN,0.0,1.11,0.0,0.0,0.0,1.00,Apr-1999,0.5,Ryder,2500.0,2500.0,3.0,RENT,1077430,f,5.0,59.83,15.27,Dec-2011,Oct-2016,119.66,Apr-2013,2500.0,Charged Off,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,NaN,NaN,0.0,0.0,car,n,122.9,1687.0,9.4,C4,0.0,60 months,bike,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1014.530000,1014.53,435.17,0.00,456.46,NaN,1.0,309xx
2,0.0,NaN,IL,12252.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,8.72,Nov-2001,10.0,NaN,2400.0,2400.0,3.0,RENT,1077175,f,2.0,84.33,15.96,Dec-2011,Jan-2017,649.91,Jun-2014,2400.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,NaN,NaN,0.0,0.0,small_business,n,0.0,2956.0,98.5,C5,0.0,36 months,real estate business,NaN,NaN,NaN,10.0,NaN,NaN,NaN,3005.666844,3005.67,605.67,0.00,2400.00,NaN,0.0,606xx
3,0.0,NaN,CA,49200.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,20.00,Feb-1996,10.0,AIR RESOURCES BOARD,10000.0,10000.0,3.0,RENT,1076863,f,1.0,339.31,13.49,Dec-2011,Apr-2016,357.48,Jan-2015,10000.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0,0.0,NaN,NaN,0.0,0.0,other,n,0.0,5598.0,21,C1,0.0,36 months,personel,NaN,NaN,NaN,37.0,NaN,NaN,NaN,12231.890000,12231.89,2214.92,16.97,10000.00,NaN,1.0,917xx
4,0.0,NaN,OR,80000.0,INDIVIDUAL,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.0,17.94,Jan-1996,1.0,University Medical Group,3000.0,3000.0,2.0,RENT,1075358,f,0.0,67.79,12.69,Dec-2011,Jan-2017,67.30,Jan-2017,3000.0,Fully Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,0.0,0.0,NaN,NaN,0.0,0.0,other,n,0.0,27783.0,53.9,B5,0.0,60 months,Personal,NaN,NaN,NaN,38.0,NaN,NaN,NaN,4066.908161,4066.91,1066.91,0.00,3000.00,NaN,1.0,972xx

In [41]:
df.groupby('application_type').size()

application_type
DIRECT_PAY       355
INDIVIDUAL    491879
Individual     20731
JOINT            524
Joint App        784
dtype: int64

In [42]:
str_col = ['emp_title','issue_d','pymnt_plan','purpose','title','zip_code',
            'earliest_cr_line','last_pymnt_d','last_credit_pull_d']

# Drop Columns contains date
df = df.drop(str_col, axis=1)

In [43]:
# Create dictionary convert sub grade
l = ['A','B','C','D','E','F','G']
n = ['1','2','3','4','5']
sbg = []
for i in l:
    for j in n:
        sbg.append(i+j)
        
l_m = ['1','2','3','4','5','6','7']
n_m = ['0','2','4','6','8']

lm = {}
for i in range(len(l_m)):
    lm[l[i]] = l_m[i]

nm = {}
for i in range(len(n_m)):
    nm[n[i]] = n_m[i]
    
sbg_m = []
for i in sbg:
    sbg_m.append(lm[i[0]]+nm[i[1]])

subgrade_map = {}
for i in range(len(sbg)):
    subgrade_map[sbg[i]] = float(sbg_m[i])/10

In [44]:
df['sub_grade'] = df['sub_grade'].map(subgrade_map)

In [45]:
df.groupby('initial_list_status').size()

initial_list_status
f    303081
w    211192
dtype: int64

In [46]:
class_mapping = {label:idx for idx, label in enumerate(np.unique(df['addr_state']))}
df['addr_state'] = df['addr_state'].map(class_mapping)

class_mapping = {label:idx for idx, label in enumerate(np.unique(df['initial_list_status']))}
df['initial_list_status'] = df['initial_list_status'].map(class_mapping)

class_mapping = {label:idx for idx, label in enumerate(np.unique(df['home_ownership']))}
df['home_ownership'] = df['home_ownership'].map(class_mapping)

class_mapping = {label:idx for idx, label in enumerate(np.unique(df['application_type']))}
df['application_type'] = df['application_type'].map(class_mapping)

In [47]:
# Convert loan status:
l_s_map = {'Fully Paid':1.0, 'Charged Off': 0.0}
df['loan_status'] = df['loan_status'].map(l_s_map)

In [48]:
# Fill NaN with 0
df = df.fillna(0)

In [52]:
df.to_csv('lending_data_06_17Q2.csv')